<div class="container__small-card">

    <div class="container__small-card__content">

        <div class="small-card__photo">
            <img
                src="https://i.stack.imgur.com/y9DpT.jpg"
                alt=""
            >
        </div>
        <div class="small-card_title">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore reiciendis exercitationem et. Repellendus beatae tempore est aspernatur quidem aliquid expedita rem. Consequatur, facilis velit. Temporibus, similique ipsa? Magnam, suscipit quibusdam.
            </p>

        </div>

    </div>

    <div class="container__small-card__separator">
        <hr>
    </div>

</div>


