<div class="container__big-card">

    <div class="big-card__photo">
        <img 
            src="https://i.stack.imgur.com/y9DpT.jpg"

            alt=""
            srcset=""
        >
    </div>

    <div class="big-card__title">
        <h1>
            <a href="#">Lorem ipsum dolor sit amet explicabo?
            </a>
        </h1>
    </div>

    <div class="big-card__description">
        <p>
            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit maxime adipisci quam officia velit commodi aut iste dignissimos temporibus dolor explicabo, molestias soluta non pariatur optio reprehenderit obcaecati aperiam nisi.
            </a>
        </p>
    </div>

</div>
