.container__articles {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    max-width: 1300px;
    margin: 30px auto 0 auto;
}

.articles__main {
    width: 400px;
}

.articles__others {
    width: 60%;
}