<app-menu-bar></app-menu-bar>

<app-menu-title></app-menu-title>

<div class="container__articles">

    <div class="articles__main">
        <app-big-card 
        photoCover="https://i.stack.imgur.com/y9DpT.jpg"
        cardTitle="Lorem ipsum dolor sit amet explicabo?"
        cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit maxime adipisci quam officia velit commodi aut iste dignissimos temporibus dolor explicabo, molestias soluta non pariatur optio reprehenderit obcaecati aperiam nisi."
        ></app-big-card>
    </div>


    <div class="articles__others">
        <app-smal-card
            photoCover="https://i.stack.imgur.com/y9DpT.jpg"
            cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore reiciendis exercitationem et. Repellendus beatae tempore est aspernatur quidem aliquid expedita rem. Consequatur, facilis velit. Temporibus, similique ipsa? Magnam, suscipit quibusdam."
        ></app-smal-card>
        
        <app-smal-card
        photoCover="https://i.stack.imgur.com/y9DpT.jpg"
        cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore reiciendis exercitationem et. Repellendus beatae tempore est aspernatur quidem aliquid expedita rem. Consequatur, facilis velit. Temporibus, similique ipsa? Magnam, suscipit quibusdam."
        ></app-smal-card>

        <app-smal-card
        photoCover="https://i.stack.imgur.com/y9DpT.jpg"
        cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore reiciendis exercitationem et. Repellendus beatae tempore est aspernatur quidem aliquid expedita rem. Consequatur, facilis velit. Temporibus, similique ipsa? Magnam, suscipit quibusdam."
        ></app-smal-card>
    </div>

</div>