.container__menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container__menu-bar > ul {
    display: flex;
    flex-direction: row;
}

.container__menu-bar >ul > li {
    margin-left: 20px;
    list-style-type: none;
}